
/* login */ 
label{
    color: white;
}
#create{
    list-style: none;
    text-decoration: none;
    color: black;
    margin-left: 254px;
    font-size: 16px;
}

.container{
 font-family: 'Karla'; 
 font-size: 20px;
 font-weight: 700;
 width:600px;
 margin:0 auto;
 margin-top:10%;
 justify-content: center;
}

label{
    width: 30%;
    }

.container h1{
    width: 38%;
    margin-left: 220px;
    padding-bottom: 10px;
   }

input {
    width: 81%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
   }

.submit:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
   }

input p{
    font-size: 15px;
    margin-left: 210px;
}

/* inscription */ 
.container_inscription{
    width: 50%;
    font-family: 'Karla'; 
    font-size: 20px;
    font-weight: 700;
    width: 70%;
    margin:0 auto;
    margin-top:10%;
}

.container_inscription h1{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
    justify-content: center;
    text-align: center;
}

.container_inscription .submit{
    background-color: #53af57;
    font-family: 'Karla';
    font-size: 20px;
    color: white;
    padding: 14px 20px;
    margin: 40px 0;
    border: none;
    width: 50%;
}

/* navbar */ 

.navbar {
    background-color: #53af57;
    display: flex;
}
.nav-list {
    display: flex;
    font-family: 'Karla';
}
  
.nav-list li {
    list-style: none;
    padding: 5px 40px;
}
  
.nav-list li a {
    text-decoration: none;
    color: white;
}
  
.nav-list li a:hover {
    color: black;
}

img{
    width: 270px;
    height: 40px;
}

/* user-list */ 
.container_users{
    color: black;
}

.container_users h1{
    font-family: 'Karla';
    font-size: 50px;
    text-align: center;
    margin:50px;
}
.form{
    padding: 90px;
}

.form-group{
    width: 91%;
    padding: 60px;
    margin: 10px;
    background: #53af57;
    justify-content: center;
    font-family: 'Karla';
    font-size: 20px;
    border: none;
    align-items: center;
    display: flex;
    height:20px;
}


.boutons{
    display: flex;
    padding: 30px;
}

.button{
    padding: 10px;
    margin: 10px;
    background-color: #ffffff ;
    width:20%;
    text-align: center;
    flex-direction: row;
    border: 1px solid #53af57;
    margin: auto;
    text-decoration: none;
    font-size: 13px;
}

.button_login{
    padding: 10px;
    margin: 10px;
    background-color: #ffffff ;
    border: 1px solid #53af57;
    width:60%;
    text-align: center;
    flex-direction: row;
}

.button:hover{
        background-color: white;
        color: #53af57;
        border: 1px solid #53af57;
}

.button_login:hover{
    background-color: white;
        color: #53af57;
        border: 1px solid #53af57;
}



.creation_compte{
    font-size: 20px;
    text-align: center;
}

.form-group-info{
    width: 70%;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    font-family: 'Karla';
    font-size: 20px;
    border: none;
    align-items: center;
    display: flex;
    height:20px;
}

.h1_modif{
    font-family: 'Karla';
    font-size: 50px;
    text-align: center;
    margin:50px;
}

.container_info_client{
    font-size: 20px;
    width:900px;
    margin:0 auto;
    margin-top: 20px;
   }